USE [master]
GO
/****** Object:  Database [AirConditionerShop]    Script Date: 3/6/2024 11:12:07 PM ******/
CREATE DATABASE [AirConditionerShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AirConditionerShop2023DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TRANHOANGANH\MSSQL\DATA\AirConditionerShop2023DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AirConditionerShop2023DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TRANHOANGANH\MSSQL\DATA\AirConditionerShop2023DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AirConditionerShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AirConditionerShop]
GO
/****** Object:  Table [dbo].[AirConditioner]    Script Date: 3/6/2024 11:12:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AirConditioner](
	[AirConditionerId] [int] IDENTITY(1,1) NOT NULL,
	[AirConditionerName] [nvarchar](200) NOT NULL,
	[Warranty] [nvarchar](60) NULL,
	[SoundPressureLevel] [nvarchar](80) NULL,
	[Image] [nvarchar](max) NULL,
	[FeatureFunction] [nvarchar](250) NULL,
	[Quantity] [int] NULL,
	[DollarPrice] [float] NULL,
	[SupplierId] [nvarchar](50) NULL,
 CONSTRAINT [PK__AirCondi__EE2EB7399C8F3B5E] PRIMARY KEY CLUSTERED 
(
	[AirConditionerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/6/2024 11:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] NOT NULL,
	[MemberID] [int] NULL,
	[OrderDate] [datetime] NOT NULL,
	[ShippedDate] [datetime] NULL,
	[Total] [money] NULL,
	[OrderStatus] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/6/2024 11:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderID] [int] NOT NULL,
	[AirConditionerId] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[AirConditionerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffMember]    Script Date: 3/6/2024 11:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffMember](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](40) NOT NULL,
	[FullName] [nvarchar](60) NOT NULL,
	[EmailAddress] [nvarchar](60) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK__StaffMem__0CF04B38FA63FBDF] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupplierCompany]    Script Date: 3/6/2024 11:12:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierCompany](
	[SupplierId] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](80) NOT NULL,
	[SupplierDescription] [nvarchar](250) NULL,
	[PlaceOfOrigin] [nvarchar](60) NULL,
 CONSTRAINT [PK__Supplier__4BE666B4B8FDAC27] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AirConditioner] ON 

INSERT [dbo].[AirConditioner] ([AirConditionerId], [AirConditionerName], [Warranty], [SoundPressureLevel], [Image], [FeatureFunction], [Quantity], [DollarPrice], [SupplierId]) VALUES (100, N'hihiihhi', N'nnnnnn', N'hhjhj', N'http://res.cloudinary.com/dkmytrmhe/image/upload/v1709490518/bdv7rnok47o7hzfpylqs.jpg', N'hhh', 321, 123, N'SC0007')
INSERT [dbo].[AirConditioner] ([AirConditionerId], [AirConditionerName], [Warranty], [SoundPressureLevel], [Image], [FeatureFunction], [Quantity], [DollarPrice], [SupplierId]) VALUES (101, N'4-16KW A+++ DC Inverter Monoblock Air Source Heat Pump for Hot Water Home Heating Cooling', N'4 years', N'53dB(A)', N'http://res.cloudinary.com/dkmytrmhe/image/upload/v1709671488/qtrrdpo09znzmynpwbl0.webp', N'House Heating Cooling and Water Heating', 12, 2978, N'SC0005')
INSERT [dbo].[AirConditioner] ([AirConditionerId], [AirConditionerName], [Warranty], [SoundPressureLevel], [Image], [FeatureFunction], [Quantity], [DollarPrice], [SupplierId]) VALUES (102, N'Quạt máy', N'5 years ', N'54db', N'http://res.cloudinary.com/dkmytrmhe/image/upload/v1709671502/izme7fnnzim1eoxmdcra.jpg', N'321', 22, 123, N'SC0007')
SET IDENTITY_INSERT [dbo].[AirConditioner] OFF
GO
INSERT [dbo].[Order] ([OrderID], [MemberID], [OrderDate], [ShippedDate], [Total], [OrderStatus]) VALUES (4000, 1986, CAST(N'2023-04-26T00:00:00.000' AS DateTime), CAST(N'2023-04-27T00:00:00.000' AS DateTime), 670.0000, N'Done      ')
INSERT [dbo].[Order] ([OrderID], [MemberID], [OrderDate], [ShippedDate], [Total], [OrderStatus]) VALUES (4001, 1987, CAST(N'2023-04-26T00:00:00.000' AS DateTime), CAST(N'2023-04-27T00:00:00.000' AS DateTime), 295.0000, N'Done      ')
INSERT [dbo].[Order] ([OrderID], [MemberID], [OrderDate], [ShippedDate], [Total], [OrderStatus]) VALUES (4002, 1988, CAST(N'2023-04-29T00:00:00.000' AS DateTime), CAST(N'2023-04-30T00:00:00.000' AS DateTime), 510.0000, N'Done      ')
GO
INSERT [dbo].[OrderDetail] ([OrderID], [AirConditionerId], [UnitPrice], [Quantity], [Discount]) VALUES (4000, 101, 100.0000, 2, 0)
INSERT [dbo].[OrderDetail] ([OrderID], [AirConditionerId], [UnitPrice], [Quantity], [Discount]) VALUES (4000, 103, 230.0000, 1, 0)
INSERT [dbo].[OrderDetail] ([OrderID], [AirConditionerId], [UnitPrice], [Quantity], [Discount]) VALUES (4001, 101, 120.0000, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[StaffMember] ON 

INSERT [dbo].[StaffMember] ([MemberID], [Password], [FullName], [EmailAddress], [Role]) VALUES (1982, N'@1', N'Administrator', N'admin@AirConditionerShop.com.sg', 1)
INSERT [dbo].[StaffMember] ([MemberID], [Password], [FullName], [EmailAddress], [Role]) VALUES (1983, N'@2', N'Manager', N'manager@AirConditionerShop.com.sg', 2)
INSERT [dbo].[StaffMember] ([MemberID], [Password], [FullName], [EmailAddress], [Role]) VALUES (1984, N'@3', N'User', N'user@AirConditionerShop.com.sg', 3)
SET IDENTITY_INSERT [dbo].[StaffMember] OFF
GO
INSERT [dbo].[SupplierCompany] ([SupplierId], [SupplierName], [SupplierDescription], [PlaceOfOrigin]) VALUES (N'SC0005', N'Daikin', N'A global leader in air conditioning manufacturing that provides energy-efficient and reliable for both residential and commercial use.', N'Japan')
INSERT [dbo].[SupplierCompany] ([SupplierId], [SupplierName], [SupplierDescription], [PlaceOfOrigin]) VALUES (N'SC0006', N'Carrier ', N'A well-known brand that offers a variety of air conditioning units, including split systems, window units, and portable systems.', N'Korea')
INSERT [dbo].[SupplierCompany] ([SupplierId], [SupplierName], [SupplierDescription], [PlaceOfOrigin]) VALUES (N'SC0007', N'Mitsubishi Electric', N'A top supplier of ductless air conditioning units that are ideal for small or confined spaces.', N'Germany')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StaffMem__49A147405BABC6ED]    Script Date: 3/6/2024 11:12:08 PM ******/
ALTER TABLE [dbo].[StaffMember] ADD  CONSTRAINT [UQ__StaffMem__49A147405BABC6ED] UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AirConditioner]  WITH CHECK ADD  CONSTRAINT [FK__AirCondit__Suppl__3B75D760] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[SupplierCompany] ([SupplierId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AirConditioner] CHECK CONSTRAINT [FK__AirCondit__Suppl__3B75D760]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_StaffMember] FOREIGN KEY([MemberID])
REFERENCES [dbo].[StaffMember] ([MemberID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_StaffMember]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_AirConditioner] FOREIGN KEY([AirConditionerId])
REFERENCES [dbo].[AirConditioner] ([AirConditionerId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_AirConditioner]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
USE [master]
GO
